@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body{
    margin: 0px;
    padding: 0px;
}
.BarraPrincipal{
	width: 100%;
    left: 0px;
    top: 0px; 
    position: fixed;
    display: flex;
	align-items: center;
    z-index: 5;
}
.Rectangle3{
    width: 100%;
    height: 19vh;
    left: 0px;
    top: 5vh; 
    position: absolute;
    background: #775035;
    z-index: -1;
}
.Rectangle2{
    width: 100%;
    height: 16vh;
    left: 0px;
    top: 4vh;
    position: absolute;
    background: #463117;
    z-index: -1;
}
.Rectangle1{
    width: 100%;
    height: 16vh;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #332009;
    z-index: -1;
}
.Falsette{
    text-align: left;
	cursor:pointer;
    margin-left: 7vh;
    margin-top: 2.5vh;
    font-size: 14vh; 
    font-family: "Italianno";
}
.Falsette a{
    text-decoration: none;
    color:#fff;
    cursor:pointer;
}
.Falsette a:hover{
    transition: 0.2s;
    color: #775035
}
nav{
    text-align: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li{  
	list-style: none;
	display: inline-block;
    margin-left: 9vh;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 4vh;
    transition: 0.2s;
}
nav ul li a:hover{
    transform: translateY(-10%);
	color: #775035
}
nav .carrito{
    text-align: right;
	cursor:pointer;
    right: 3vh;
    top: 4vh;
    position: absolute;
    width: 7vh;
    transition: 0.2s;
}
nav .carrito:hover{
	opacity: 20%;
}
nav .login{
    text-align: right;
	cursor:pointer;
    right: 7vh;
    top: 3.5vh;
    position: absolute;
    width: 7vh;
    transition: 0.2s;
}
nav .login:hover{
	opacity: 20%;
}

.SobreNosotros {
    position: absolute;
    width: 100%;
    left: 0px;
}
.Sobre a{
    color: white;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    position: absolute;
    left: 2.3%;
    top: 35%;
    transition: 0.2s;
}
.Sobre a:hover{
	color: #775035
}
.SobreFalsette a{
    color: white;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    position: absolute;
    left: 27%;
    top: 35%;
    align-items: center;
    transition: 0.2s;
}
.SobreFalsette a:hover{
	color: #775035
}
.Rectangle5{
    display: flex;
    align-items: center;
    height: 97px;
    background: #332009;
}
.Line1{
    width: 49px;
    height: 0px;
    left: 23%;
    top: 24px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}
.Line2{
    width: 49px;
    height: 0px;
    left: 47%;
    top: 24px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}
.Vector1{
    width: 13%;
    left: 45%;
    bottom: 25%;
    position: absolute;
    transition: 0.2s;
}
.Vector1:hover{
	opacity: 60%;
}
.Vector2{
    width: 16%;
    left: 48%;
    bottom: 25%;
    position: absolute;
    transition: 0.2s;
}
.Vector2:hover{
	opacity: 60%;
}
.Vector3{
    width: 17%;
    left: 52.5%;
    bottom: 25%;
    position: absolute;
    transition: 0.2s;
}
.Vector3:hover{
	opacity: 60%;
}
.menu-icon{
	cursor:pointer;
    display: none;
    right: 25vh;
    top: 7vh;
    position: absolute;
    width: 7vh;
    transition: 0.2s;
}

@media only screen and (max-width:700px){
    nav ul{
		width: 100%;
        background: #332009;
		position: absolute;
		top: 75px;
		right: 0;
		z-index: 2;
	}
    nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
    .menu-icon{
		display: block; 
	}
    #menuList{
		overflow: hidden;
		transition: 0.5s;
	}
    .Sobre a{
        font-size: 15px;
    }
    .SobreNosotros a{
        font-size: 15px; 
    }
    .Vector1{
        bottom: 42%;
    }
    .Vector2{
        bottom: 42%;
    }
    .Vector3{
        bottom: 42%;
    }
}