@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Micro+5&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

.cart-page{
	margin: 250px 150px auto;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}
.descripcion{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BD{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    height: 30ch;
    margin-bottom: 2%;
}
.BD img{
    width: 19%;
    height: 60%;
    box-shadow: 0 0 6px rgb(177, 177, 177);
    transform: translateY(0px);
    transition: 0.3s;
}
.BD img:hover{
    transform: translateY(-15px);
    opacity: 0.5;
    transition: 0.5s;
}
.BD h1{
    width: 20%;
    text-align: center;
    font-family: "Kode Mono", monospace;
}
a {
    text-decoration: none;
    color: wheat;
}