@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Micro+5&display=swap');

body{
    margin: 0px;
    padding: 0px;
}
.galeria a:hover img {
	filter: blur(10px);
	opacity: 0.5;
}

.cart-page{
	margin: 250px 150px auto;

}
table{
	width: 100%;
	border-collapse: collapse;
	font-family: 'Courier New', Courier, monospace;
	
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
    font-family: "Kode Mono", monospace;
}
.container3{
    display: grid;
    align-items: center;
}
.container3 p{
    display: flex;
    justify-content: center;
}
.container3 img{
    margin-left: 7.5%;
}
.container3 a{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    justify-content: center;
    font-style: italic;
    font-size: 18px;
    transition: 0.3s;
}
.container3 a:hover{
    transition: 0.5s;
    color: #332009;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    justify-content: center;
}
.container3 p{
    margin-left: 15px;
}
.container4{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.container4 big{
    margin-right: 15px;
}
th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #c19a6b;
	font-weight: normal;
}
td{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #c19a6b;
	font-size: 12px;
}
td img{
	width: 200px;
	height: 200px;
	margin-right: 10px;
}
.Interest{
	display: flex;
    justify-content: center;
	margin: 50px 200px auto;
	font-size: 50px;
    font-family: "Kode Mono", monospace;
    margin-bottom: 4%;
}
.Interest img{
    box-shadow: 0 0 6px rgb(177, 177, 177);
    transform: translateY(0px);
    transition: 0.5s;
}
.Interest img:hover{
    opacity: 0.5;
    transition: 0.3s;
    transform: translateY(-15px);
}
.bateria{
    cursor: pointer;
	width: 300px;
	height: 300px;
	display: inline;
	margin-left: 10%;
}