@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Micro+5&display=swap');

.principal{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
    margin: 0vh;
    padding: 0vh;
}
.BarraPrincipal{
	width: 100%;
    left: 0px;
    top: 0px; 
    position: absolute;
    display: flex;
	align-items: center;
}
.Rectangle3{
    width: 100%;
    height: 19vh;
    left: 0px;
    top: 5vh; 
    position: absolute;
    background: #775035;
    z-index: -1;
}
.Rectangle2{
    width: 100%;
    height: 16vh;
    left: 0px;
    top: 4vh;
    position: absolute;
    background: #463117;
    z-index: -1;
}
.Rectangle1{
    width: 100%;
    height: 16vh;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #332009;
    z-index: -1;
}
.Falsette{
    text-align: left;
	cursor:pointer;
    margin-left: 7vh;
    margin-top: 2.5vh;
    font-size: 14vh; 
    font-family: "Italianno";
}
.Falsette a{
    text-decoration: none;
    color:#fff;
    cursor:pointer;
}
.Falsette a:hover{
    color: #775035
}
nav{
    text-align: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li{  
	list-style: none;
	display: inline-block;
    margin-left: 9vh;
    margin-top: 3vh;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 4vh;
}
nav ul li a:hover{
	color: #775035
}
nav .carrito{
    text-align: right;
	cursor:pointer;
    right: 3vh;
    top: 4vh;
    position: absolute;
    width: 7vh;
}
nav .carrito:hover{
	opacity: 20%;
}
nav .login{
    text-align: right;
	cursor:pointer;
    right: 7.5vh;
    top: 3.5vh;
    position: absolute;
    width: 7vh;
}
nav .login:hover{
	opacity: 20%;
}

.SobreNosotros {
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
}
.Sobre a{
    height: 30.50px;
    left: 4%;
    top: 26.30px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.Sobre a:hover{
	color: #775035
}
.SobreFalsette a{
    height: 30.50px;
    left: 28%;
    top: 26.30px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.SobreFalsette a:hover{
	color: #775035
}
.Rectangle5{
    height: 97px;
    background: #332009;
}
.Line1{
    width: 49px;
    height: 0px;
    left: 23%;
    top: 24px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}
.Line2{
    width: 49px;
    height: 0px;
    left: 47%;
    top: 24px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}
.Vector1{
    width: 13%;
    left: 45%;
    bottom: 25%;
    position: absolute;
}
.Vector1:hover{
	opacity: 60%;
}
.Vector2{
    width: 16%;
    left: 48%;
    bottom: 25%;
    position: absolute;
}
.Vector2:hover{
	opacity: 60%;
}
.Vector3{
    width: 17%;
    left: 52.5%;
    bottom: 25%;
    position: absolute;
}
.Vector3:hover{
	opacity: 60%;
}


.container2{
    display: flex;
    justify-content: center;
}
.galeria {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 90%;
	grid-gap: 10px ;
	padding: 0px 100px;
	background-color: transparent;
    top: 200px;
    margin-bottom: 20%;
}
.galeria .content7{
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 80px;
    background-color: transparent;
	color: black;
    left: 10%;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
	font-family: 'Courier New', Courier, monospace;
}
.galeria a img{
	width: 410px;
	vertical-align: top;
	height: 400px;
	object-fit: fill;
	transition: 0.5s;
}
.galeria > a {
	display: block;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 0, 0, 5);
	background-color: transparent;
}

.galeria a:hover .content7{
    height: 100%;
    width: 100%;
    left: 0;
}
.galeria a:hover img {
	filter: blur(10px);
	opacity: 0.5;
}
.galeria h3{
	width: 80%;
	text-transform: uppercase;
    font-size: 50px;
	transition: 0.5s;
	opacity: 0;
    margin: 10px 40px;
}
.galeria p{
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
    transition: 0.5s;
    opacity: 0;
}
.galeria a:hover h3,.galeria:hover a{
    opacity: 1;
    transition-delay: 0.5s;
}
.galeria a:hover p,.galeria:hover a{
    opacity: 1;
    transition-delay: 0.5s;
}
.imgbox{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Kode Mono", monospace;
}
#font{
    font-size: 200%;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Kode Mono", monospace;
}
#mini{
    font-size: 100%;
}