@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body{
    margin: 0px;
    padding: 0px;
}
.principal{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
    margin: 0vh;
    padding: 0vh;
}
.BarraPrincipal{
	width: 100%;
    left: 0px;
    top: 0px; 
    position: absolute;
    display: flex;
	align-items: center;
}
.Rectangle3{
    width: 100%;
    height: 19vh;
    left: 0px;
    top: 5vh; 
    position: absolute;
    background: #775035;
    z-index: -1;
}
.Rectangle2{
    width: 100%;
    height: 16vh;
    left: 0px;
    top: 4vh;
    position: absolute;
    background: #463117;
    z-index: -1;
}
.Rectangle1{
    width: 100%;
    height: 16vh;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #332009;
    z-index: -1;
}
.Falsette{
    text-align: left;
	cursor:pointer;
    margin-left: 7vh;
    margin-top: 2.5vh;
    font-size: 14vh; 
    font-family: "Italianno";
}
.Falsette a{
    text-decoration: none;
    color:#fff;
    cursor:pointer;
}
.Falsette a:hover{
    color: #775035
}
nav{
    text-align: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li{  
	list-style: none;
	display: inline-block;
    margin-left: 9vh;
    margin-top: 3vh;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 4vh;
}
nav ul li a:hover{
	color: #775035
}
nav .carrito{
    text-align: right;
	cursor:pointer;
    right: 3vh;
    top: 4vh;
    position: absolute;
    width: 7vh;
}
nav .carrito:hover{
	opacity: 20%;
}
nav .login{
    text-align: right;
	cursor:pointer;
    right: 7vh;
    top: 3.5vh;
    position: absolute;
    width: 7vh;
}
nav .login:hover{
	opacity: 20%;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    top: 25vh;
    position: absolute;
    z-index: -1;
    font-size: 20vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    top: 45vh;
    position: absolute;
    z-index: -1;
    font-size: 20vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    top: 65vh;
    position: absolute;
    z-index: -1;
    font-size: 20vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ArpegiosGuitarra1{
    width: 100%;
    top: 22vh;
    margin-bottom: 20vh;
    position: relative;
    z-index: -2;
}
.Rectangle26{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 140vh;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    background: linear-gradient(180deg, rgba(171.06, 108.77, 89.10, 0.70) 0%, rgba(233.75, 166.39, 145.12, 0.68) 48%, rgba(243.31, 205.68, 184.51, 0.01) 100%);
    z-index: -2;
}
.Rectangle25{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 47vh;
    left: 0px;
    top: 128%;
    position: relative;
    align-items: center;
    background: #43260B
}
.Siente{
    align-items: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Siente a{
    top: 120px;
    color: white;
    font-size: 64px;
}
.Siente b{
    top: 180px;
    color: #D6AE97;
    font-size: 40px;
}
.Rectangle28{
    width: 100%;
    height: 1.6vh;
    left: 0px;
    margin-top: 3vh;
    background: #462217;
}
.Rectangle29{
    width: 100%;
    height: 1.6vh;
    left: 0px;
    margin-top: 3vh;
    background: rgba(70, 34.28, 23, 0.75);
}
.Rectangle30{
    width: 100%;
    height: 1.6vh;
    left: 0px;
    margin-top: 3vh;
    background: rgba(70, 34.28, 23, 0.50);
}
.Rectangle31{
    width: 100%;
    height: 1.6vh;
    left: 0px;
    margin-top: 3vh;
    background: rgba(70, 34.28, 23, 0.25);
}
.Rectangle32{
    width: 100%;
    height: 1.6vh;
    left: 0px;
    margin-top: 3vh;
    background: rgba(70, 34.28, 23, 0.10);
}
.Rectangle33{
    width: 100%;
    height: 1.6vh;
    left: 0px;
    margin-top: 3vh;
    background: rgba(70, 34.28, 23, 0.05);
}
.container2{
    display: flex;
    justify-content: center;
}
.Rectangle27{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    text-decoration: none;
    background: rgba(232.69, 207.25, 192.94, 0.98);
    border-radius: 85px;
}

nav .Catalogo{
    color: black;
    font-size: 10vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
}
nav .Catalogo a:hover{
	color: #775035
}
.Catalogo a{
    text-decoration: none;
    color: black;
}

.SobreNosotros {
    position: absolute;
    width: 100%;
    left: 0px;
}
.Sobre a{
    left: 4%;
    top: 26.30px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.Sobre a:hover{
	color: #775035
}
.SobreFalsette a{
    left: 28%;
    top: 26.30px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.SobreFalsette a:hover{
	color: #775035
}
.Rectangle5{
    height: 97px;
    background: #332009;
}
.Line1{
    width: 49px;
    height: 0px;
    left: 23%;
    top: 24px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}
.Line2{
    width: 49px;
    height: 0px;
    left: 47%;
    top: 24px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}
.Vector1{
    width: 13%;
    left: 45%;
    bottom: 25%;
    position: absolute;
}
.Vector1:hover{
	opacity: 60%;
}
.Vector2{
    width: 16%;
    left: 48%;
    bottom: 25%;
    position: absolute;
}
.Vector2:hover{
	opacity: 60%;
}
.Vector3{
    width: 17%;
    left: 52.5%;
    bottom: 25%;
    position: absolute;
}
.Vector3:hover{
	opacity: 60%;
}